h1{
    text-align: center;
}

#countLabel{
    display: block;
    font-size: 10em;
    text-align: center;
    font-family: Helvetica;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(125, 24, 232);
    border-radius: 22px ;
    cursor: pointer;
    transform: bachground-color 0.25s;
}

.buttons:hover{
    background-color: rgb(31, 156, 44);
}